.brands {
  &__list {
    @include ul-reset;
    @include container;
    display: flex;
    justify-content: space-between;
    padding-top: 95px;
  }
  &__link {
    display: block;
    width: 260px;
    height: 100px;
    background-repeat: no-repeat;
  }

  &__link--dji {
    background-image: url("../img/icon-logo-dji--inactive.png");
  }
  &__link--dji:hover {
    background-image: url("../img/icon-logo-dji.png");
  }


  &__link--spgadgets {
    background-image: url("../img/icon-logo-spgadgets--inactive.png");
  }
  &__link--spgadgets:hover {
    background-image: url("../img/icon-logo-spgadgets.png");
  }


  &__link--gopro {
    background-image: url("../img/icon-logo-gopro--inactive.png");
  }
  &__link--gopro:hover {
    background-image: url("../img/icon-logo-gopro.png");
  }


  &__link--vive {
    background-image: url("../img/icon-logo-vive--inactive.png");
  }
  &__link--vive:hover {
    background-image: url("../img/icon-logo-vive.png");
  }


}
