.btn {
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 40%;
    bottom: 40%;

    transition: all 0.2s ease-in;
    background-color: $yellowBright;
  }


  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover::before {
    // background-image: linear-gradient(to bottom, $yellowBright 0%, $yellowBright 100%);
    top: 0;
    bottom: 0;
  }
}
