.btn {
  @include link-reset;
  display: inline-block;
  position: relative;
  z-index: 1;
  font-family: $gilroy;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding-left: 8px;
  padding-right: 8px;
  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 40%;
    bottom: 40%;

    transition: all 0.2s ease-in;
    background-color: $yellowBright;
  }


  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:hover::before {
    // background-image: linear-gradient(to bottom, $yellowBright 0%, $yellowBright 100%);
    top: 0;
    bottom: 0;
  }
}
