.categories {
  @include container;
  padding-top: 25px;
  padding-bottom: 20px;

  &__list {
    @include ul-reset;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    margin-right: 40px;
    padding-bottom: 20px;
  }

  &__item:nth-child(6n) {
    margin-right: 0;
  }

  &__link {
    @include link-reset;
    position: relative;
    display: block;
    width: 160px;
  }

  &__link::before {
    content: "";
    display: block;
    z-index: -1;
    width: 160px;
    height: 160px;
    background-color: $yellow;
  }

  &__link::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 160px;
    height: 160px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("../img/icon-virtual.svg");
  }

  &__link--monopod::after {
    background-position: 50% 100%;
    background-image: url("../img/icon-monopod.svg");
  }

  &__link--action-cam::after {
    background-image: url("../img/icon-action-cam.svg");
  }

  &__link--bracelet::after {
    background-image: url("../img/icon-bracelet.svg");
  }

  &__link--watch::after {
    background-image: url("../img/icon-watch.svg");
  }

  &__link--quadcopter::after {
    background-image: url("../img/icon-quadcopter.svg");
  }

  &__link:hover::before,
  &__link:active::before {
    background-color: $yellowBright;
  }

  &__link:active &__link-title,
  &__link:active::after {
    opacity: 0.3;
  }

  &__link-title {
    display: block;
    pointer-events: none;
    padding-top: 32px;
    font-family: $gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
  }
}
