.filter {
  &__set {
    @include reset;
    padding-right: 70px;
    padding-bottom: 40px;
    border: none;
  }

  & .catalog__subtitle {
    margin-bottom: 73px;
  }

  &__legend {
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 25px;
    border-top: 2px solid black;
    font-family: $gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
  }

  &__range {
    padding-bottom: 15px;
  }



  &__checkbox {
    @include visuallyhidden;
  }


  &__label {
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 2;
    cursor: pointer;
  }

  &__label:last-child {
    margin-bottom: 0;
  }
  &__label::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-checkbox-off.svg");
  }

  &__checkbox:checked + &__label--checkbox::before,
  &__label--checkbox:active::before {
    width: 27px;
    margin-right: 12px;
    background-image: url("../img/icon-checkbox-on.svg");
  }


  &__radio:disabled + &__label,
  &__checkbox:disabled + &__label {
    opacity: 0.25;
  }

  &__radio:disabled + &__label:hover::before,
  &__checkbox:disabled + &__label:hover::before {
    opacity: 1;
  }

  &__label:hover::before {
    opacity: 0.6;
  }


  &__checkbox:focus + &__label::before,
  &__radio:focus + &__label::before {
    outline: 1px solid rgb(77, 144, 254);
  }

  &__radio {
    @include visuallyhidden;
  }

  &__label--radio::before {
    width: 25px;
    height: 25px;
    background-image: url("../img/icon-radio-off.svg");
  }

  &__radio:checked + &__label--radio::before,
  &__label--radio:active::before {
    background-image: url("../img/icon-radio-on.svg");
  }

  &__submit {
    width: 200px;
    margin-right: 70px;
  }

}
