.page-footer {
  color: #ffffff;
  background-color: #464646;

  &__container {
    @include container;
    padding-top: 65px;
    padding-bottom: 65px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  & .logo {
    margin-top: 0;
  }

  & .user-nav {
    margin: 0;
    flex-grow: 0;
    align-self: flex-start;
  }

  & .user-nav__item--user {
    margin-right: 38px;
    flex-grow: 0;
  }

  & .user-nav__link {
    color: rgba(255, 255, 255, 0.7);
  }

  & .user-nav__link:hover {
    color: rgba(255, 255, 255, 1);
  }

  & .user-nav__link:active {
    color: rgba(255, 255, 255, 0.3);
  }


  &__row--info {
    padding-top: 20px;
  }

  &__nav {
    @include ul-reset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    padding-top: 5px;
  }

  &__nav-item {
    margin-right: 35px;
  }

  &__nav-link {
    @include link-reset;
    font-family: $gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    color: #ffffff;
  }

  &__nav-link:hover {
    opacity: 0.6;
  }

  &__nav-link:active {
    opacity: 0.1;
  }

  &__tel-number {
    @include link-reset;
    color: #ffffff;
  }

  &__row--socials {
    padding-top: 60px;
  }

  &__row--socials::before {
    content: "";
    display: block;
    align-self: center;
    width: 80px;
    height: 7px;
    margin-bottom: 12px;
    background-color: $yellowBright;
  }

  &__socials {
    @include ul-reset;
    display: flex;
  }

  &__socials-item {
    margin: 0 11px;
  }

  &__socials-link::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    background-repeat: no-repeat;
  }

  &__socials-link--facebook::before {
    background-image: url("../img/icon-facebook.svg");
  }

  &__socials-link--instagram::before {
    background-image: url("../img/icon-instagram.svg");
  }

  &__socials-link--twitter::before {
    background-image: url("../img/icon-twitter.svg");
  }

  &__socials-link:hover::before {
    opacity: 0.6;
  }

  &__socials-link:active::before {
    opacity: 0.1;
  }

  &__madein-link {
    margin-left: 55px;
  }

  &__madein-link:hover {
    opacity: 0.6;
  }

  &__madein-link:active {
    opacity: 0.3;
  }
}

