.page-header {
  @include container;
  padding: 40px 20px 0;

  &__container {
    position: relative;
    padding: 0 60px;
    border-top: 1px solid transparent;
    background-color: $yellow;
    padding-bottom: 160px;
  }

  &__row {
    display: flex;
    align-items: center;
    padding-top: 8px;
  }

  &__search {
    display: flex;
    align-items: center;
    position: relative;
    width: 440px;
    font-size: 0;
  }
  &__search-icon {
    position: absolute;
    left: 3px;
    top: 18px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url("../img/icon-search.svg");
  }

  &__search-input {
    @include input-reset;
    flex-grow: 1;
    width: 315px;
    height: 50px;
    padding-left: 40px;
    border-bottom: 2px solid transparent;
    font-weight: 300;
    font-size: 15px;
    line-height: 50px;
    vertical-align: middle;
    background-color: transparent;
  }

  &__search-input:focus {
    border-color: #000;
  }

  &__search-input::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &__search-input:focus,
  &__search-input:active,
  &__search-submit:focus,
  &__search-submit:active {
    outline: none;
  }

  &__search-input:hover::placeholder,
  &__search-input:focus::placeholder,
  &__search-input:active::placeholder {
    color: rgba(0, 0, 0, 0.6);
  }

  &__search-submit {
    @include button-reset;
    // display: none;
    opacity: 0;
    pointer-events: none;
    padding: 8px 19px;
    border: 2px solid #000;
    font-weight: 300;
    font-size: 15px;
    line-height: 2;
    vertical-align: middle;
  }

  &__search-submit:hover,
  &__search-submit:focus,
  &__search-submit:active {
    opacity: 1;
    pointer-events: auto;
    background-color: #000;
    color: #fff;
  }

  &__search-submit:active::before,
  &__search-submit:focus::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #000;
  }

  &__search-submit:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &__search-input:focus + &__search-submit {
    opacity: 1;
    pointer-events: auto;
  }


  .catalog-page &__container {
    padding-bottom: 48px;
  }


}
