.preview {
  @include container;
  margin-bottom: 80px;

  &__container {
    position: relative;
  }

  &__article {
    position: relative;
    display: none;
    justify-content: flex-start;
    min-height: 486px;
    margin-top: -110px;
  }

  &__article-wrap {
    position: relative;
    order: 2;
    width: 560px;
    padding: 0 60px 0 0px;
    margin-left: 40px;
  }

  &__article-lead {
    z-index: 5;
    display: block;
  }

  &__content {
    @include reset;
    padding: 20px 20px 45px 0;
    font-family: $opensans;
    font-weight: 300;
    font-size: 15px;
  }

  &__number {
    position: absolute;
    z-index: 1;
    top: -15px;
    right: 50px;
    font-family: $gilroy;
    font-weight: 800;
    font-size: 180px;
    line-height: 1;
    color: #fff;
  }

  &__link {
    padding: 8px 40px;
    letter-spacing: 4px;
    // background-image: linear-gradient(to bottom, #fff, #fff 40%, $yellowBright 40%, $yellowBright 60%, #fff 60%);
  }


  &__fig {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    margin: 0;
  }

  &__img {
    margin-left: 10px;
  }

  &__specs {
    margin-top: 48px;
  }

  &__spec-term {
    padding-top: 7px;
    font-size: 13px;
    line-height: 20px;
    color: #464646;
  }
  &__spec-term:not(:last-child) {
    padding-right: 75px;
  }

  &__spec-descr {
    @include reset;
    font-family: $gilroy;
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
  }


  &__radio {
    @include visuallyhidden;
  }
  &__radio:checked + &__article {
    display: flex;
  }

  &__nav {
    position: absolute;
    bottom: 145px;
    right: 85px;
    font-size: 0;
  }

  &__nav-btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 12px;
    height: 12px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
  }

  &__nav-btn:last-child {
    margin-right: 0;
  }


  &__radio[id="article-1"]:checked ~ &__nav > &__nav-btn[for="article-1"]::before,
  &__radio[id="article-2"]:checked ~ &__nav > &__nav-btn[for="article-2"]::before,
  &__radio[id="article-3"]:checked ~ &__nav > &__nav-btn[for="article-3"]::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid #000;
  }
  &__radio[id="article-1"]:focus ~ &__nav > &__nav-btn[for="article-1"],
  &__radio[id="article-2"]:focus ~ &__nav > &__nav-btn[for="article-2"],
  &__radio[id="article-3"]:focus ~ &__nav > &__nav-btn[for="article-3"] {
    outline: $focusOutline;
  }

  &__nav-btn:hover {
    border-width: 2px;
  }
  &__nav-btn:active {
    opacity: 0.5;
  }


}
