.preview {
  width: 1040px;
  margin: 0 auto;
  margin-bottom: 80px;

  &__slider {
    position: relative;
  }

  &__article {
    position: relative;
    display: none;
    justify-content: flex-start;
    min-height: 486px;
    margin-top: -110px;
  }

  &__article-wrap {
    position: relative;
    order: 2;
    width: 520px;
    padding: 77px 8px 0 20px;
    margin-left: 80px;
  }

  &__article-wrap::before {
    content: "";
    display: block;
    position: absolute;
    top: 35px;
    width: 100px;
    height: 7px;
    background-color: #fff;
  }

  &__article-lead {
    position: relative;
    z-index: 5;
    display: block;
    font-family: $gilroy;
    font-weight: 800;
    font-size: 47px;
    line-height: 56px;
  }

  &__content {
    @include reset;
    padding: 20px 9px 45px 0;
    font-family: $opensans;
    font-weight: 300;
    font-size: 15px;
  }

  &__number {
    position: absolute;
    z-index: 1;
    top: -15px;
    right: -13px;
    font-family: $gilroy;
    font-weight: 800;
    font-size: 180px;
    line-height: 1;
    color: #fff;
  }

  &__link {
    @include link-reset;
    position: relative;
    display: inline-block;
    padding: 8px 40px;
    font-family: $gilroy;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 24px;
    // background-image: linear-gradient(to bottom, #fff, #fff 40%, $yellowBright 40%, $yellowBright 60%, #fff 60%);
  }

  &__link::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 40%;
    bottom: 40%;

    transition: all 0.2s ease-in;
    background-color: $yellowBright;

  }

  &__link:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &__link:hover::before {
    // background-image: linear-gradient(to bottom, $yellowBright 0%, $yellowBright 100%);
    top: 0;
    bottom: 0;
  }
  &__fig {
    // box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    margin: 0;
    // padding: 0 20px;
  }

  &__img {
    margin-left: 10px;
  }

  &__specs {
    margin-top: 48px;
  }

  &__spec-term {
    padding-top: 7px;
    font-size: 13px;
    line-height: 20px;
    color: #464646;
  }
  &__spec-term:not(:last-child) {
    padding-right: 75px;
  }

  &__spec-descr {
    @include reset;
    font-family: $gilroy;
    font-weight: 300;
    font-size: 36px;
    line-height: 48px;
  }


  &__radio {
    display: none;
  }
  &__radio:checked + &__article {
    display: flex;
  }

  &__nav {
    position: absolute;
    bottom: 145px;
    right: 25px;
    font-size: 0;
  }

  &__nav-btn {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    margin-right: 20px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
  }

  &__nav-btn:last-child {
    margin-right: 0;
  }


  &__radio[id="article-1"]:checked ~ &__nav > &__nav-btn[for="article-1"]::before,
  &__radio[id="article-2"]:checked ~ &__nav > &__nav-btn[for="article-2"]::before,
  &__radio[id="article-3"]:checked ~ &__nav > &__nav-btn[for="article-3"]::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid #000;
  }

  &__nav-btn:hover {
    border-width: 2px;
  }
  &__nav-btn:active {
    opacity: 0.5;
  }


}
