.services {
  padding-top: 140px;
  padding-bottom: 65px;
  background: linear-gradient(to bottom, transparent, transparent 140px, #e5e5e5 140px);

  &__container {
    @include container;
    display: flex;
    margin-top: -48px;
    background-color: transparent;
  }

  &__nav {
    @include ul-reset;
    position: relative;
    width: 360px;
    padding-top: 80px;
    padding-bottom: 48px;
    margin-right: 40px;
    margin-top: -50px;
  }

  &__nav::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    width: 7px;
    top: 0;
    bottom: 0;
    right: 76px;
    background-color: #000000;
  }

  &__nav-item {
    width: 284px;
    margin-bottom: 24px;
  }

  &__nav-link {
    width: 160px;
    padding: 8px 0;
    text-align: center;
    letter-spacing: 3.6px;
  }


  &__nav-link:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &__nav-link--active,
  &__nav-link--active:active {
    color: #f7e184;
  }

  &__nav-link--active::before,
  &__nav-link:active ::before {
    transform: scaleY(1);
    left: 0;
    width: 284px;
    background-color: #000000;
  }


  &__nav-link--active {
    cursor: default;
  }

  &__slides {
    @include ul-reset;
    width: 760px;
  }

  &__slide {
    display: none;
    position: relative;
  }

  &__slide::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    right: 66px;
    background-repeat: no-repeat;
  }

  &__slide--delivery::before {
    top: 36px;
    width: 136px;
    height: 164px;
    background-image: url("../img/icon-delivery.svg");
  }

  &__slide--warranty::before {
    width: 171px;
    height: 195px;
    background-image: url("../img/icon-warranty.svg");
  }

  &__slide--credit::before {
    width: 156px;
    height: 188px;
    background-image: url("../img/icon-credit.svg");
  }

  .no-js &__slide {
    display: block;
  }

  &__slide--active {
    display: block;
  }

  &__slide-title {
    @include reset;
    font-family: $gilroy;
    font-weight: 800;
    font-size: 47px;
    letter-spacing: 1.4px;
  }

  &__slide-content {
    @include reset;
    padding-top: 8px;
    padding-right: 325px;
    letter-spacing: 0.3px;
    color: #464646;
  }
}
