.services {
  padding-top: 140px;
  // background-color: #e5e5e5;
  background: linear-gradient(to bottom, transparent, transparent 140px, #e5e5e5 140px);

  &__container {
    @include container;
    display: flex;
    margin-top: -48px;
    background-color: transparent;
  }

  &__nav {
    @include ul-reset;
    position: relative;
    width: 360px;
    padding-top: 80px;
    padding-bottom: 70px;
    margin-right: 40px;
    margin-top: -50px;
  }

  &__nav::after {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    top: 0;
    bottom: 0;
    right: 76px;
    background-color: #000;
  }

  &__nav-item {
    width: 284px;
    margin-bottom: 24px;
  }

  &__nav-link {
    @include link-reset;
    display: inline-block;
    width: 160px;
    padding: 8px 0;
    font-family: $gilroy;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.6px;
  }

  &__nav-link--active,
  &__nav-link:active {
    color: #f7e184;
  }


  &__nav-link--active::before,
  &__nav-link:active ::before {
    top: 0;
    bottom: 0;
    left: 0;
    width: 284px;
    background-color: #000;
  }

  &__nav-link--active:hover::before
  // ,&__nav-link--active:focus::before
   {
    background-color: $yellowBright;
  }

  &__nav-link--active:hover
  // ,&__nav-link--active:focus
  {
    color: #000;
  }


  &__slides {
    @include ul-reset;
    width: 760px;
  }

  &__slide {
    display: none;
  }

  .no-js &__slide {
    display: block;
  }

  &__slide--active {
    display: block;
  }

  &__slide-title {
    @include reset;
    font-family: $gilroy;
    font-weight: 800;
    font-size: 47px;
    letter-spacing: 3.6px;
  }

  &__slide-content {
    @include reset;
    padding-top: 8px;
    padding-right: 325px;
    letter-spacing: 0.3px
  }
}
