.user-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  @include ul-reset;
  margin-left: 102px;

  &__item:not(:last-child) {
    margin-right: 40px;
  }
  &__item--user {
    flex-grow: 1;
  }
  &__link {
    text-decoration: none;
    font-weight: 300;
    color: #000;
  }
  &__link:hover {
    opacity: 0.6;
  }
  &__link:active {
    opacity: 0.3;
  }

  &__link::before {
    content: "";
    display: inline-block;
    vertical-align: baseline;
    margin-right: 6px;
    background-repeat: no-repeat;
  }

  &__item--user &__link::before {
    width: 13px;
    height: 12px;
    margin-right: 10px;
    background-image: url("../img/icon-user.svg");
  }

  &__item--compare &__link::before {
    width: 10px;
    height: 10px;
    background-image: url("../img/icon-compare.svg");
  }

  &__item--cart &__link::before {
    width: 12px;
    height: 12px;
    background-image: url("../img/icon-cart.svg");
  }

  .page-footer &__item--user &__link::before {
    background-image: url("../img/icon-user-yellow.svg");
  }

  .page-footer &__item--compare &__link::before {

    background-image: url("../img/icon-compare-yellow.svg");
  }

  .page-footer &__item--cart &__link::before {

    background-image: url("../img/icon-cart-yellow.svg");
  }

  &__link--logout {
    display: inline-block;
    margin-left: 18px;
    opacity: 0.3;
  }

  &__link--logout:hover {
    opacity: 0.6;
  }

  &__link--logout:active {
    opacity: 1;
  }

  &__link--logout::before {
    content: none;
  }


}
