@keyframes bounce {
  0% {transform: translate(-50%, -2000px);}
  70% {transform: translate(-50%, -45%);}
  90% {transform: translate(-50%, -52%) ;}
  100% {transform: translate(-50%, -50%);}
}

@keyframes shake {
  0%, 100%                {transform: translate(-50%, -50%);}
  10%, 30%, 50%, 70%, 90% {transform: translate(-51%, -50%);}
  20%, 40%, 60%, 80%      {transform: translate(-49%, -50%) ;}
}
