@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin hide-text {
  // font-size: 0;
  // box-shadow: none;
  // color: transparent;

  // text-indent: -1000px;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin ul-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin link-reset {
  text-decoration: none;
  color: #000;
}

@mixin input-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

@mixin visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  word-wrap: normal;
}

@mixin container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
